@media (--s) {
  .textAlign {
    text-align: center;
  }

  .blockAlign {
    align-self: center;
  }
}

.image {
  position: sticky;
  object-position: center;
  height: fit-content;
  top: var(--static-space-64);
}
