:root {
  --radius-full: 999rem;
}

[data-border='rounded'] {
  --radius-xs: 1rem;

  --radius-s: 1.25rem;

  --radius-m: 1.25rem;
  --radius-m-nest-4: 1.5rem;

  --radius-l: 1.75rem;

  --radius-xl: 2rem;
}
