:root {
  /* FUNCTION */
  /* info */
  --function-info-100: var(--scheme-gray-100);
  --function-info-200: var(--scheme-gray-200);
  --function-info-300: var(--scheme-gray-300);
  --function-info-400: var(--scheme-gray-400);
  --function-info-500: var(--scheme-gray-500);
  --function-info-600: var(--scheme-gray-600);
  --function-info-700: var(--scheme-gray-700);
  --function-info-800: var(--scheme-gray-800);
  --function-info-900: var(--scheme-gray-900);
  --function-info-1000: var(--scheme-gray-1000);
  --function-info-1100: var(--scheme-gray-1100);
  --function-info-1200: var(--scheme-gray-1200);

  --function-info-600-10: var(--scheme-gray-600-10);
  --function-info-600-30: var(--scheme-gray-600-30);
  --function-info-600-50: var(--scheme-gray-600-50);
}

/* neutral */
[data-neutral='gray'] {
  --function-neutral-100: var(--scheme-gray-100);
  --function-neutral-200: var(--scheme-gray-200);
  --function-neutral-300: var(--scheme-gray-300);
  --function-neutral-400: var(--scheme-gray-400);
  --function-neutral-500: var(--scheme-gray-500);
  --function-neutral-600: var(--scheme-gray-600);
  --function-neutral-700: var(--scheme-gray-700);
  --function-neutral-800: var(--scheme-gray-800);
  --function-neutral-900: var(--scheme-gray-900);
  --function-neutral-1000: var(--scheme-gray-1000);
  --function-neutral-1100: var(--scheme-gray-1100);
  --function-neutral-1200: var(--scheme-gray-1200);

  --function-neutral-600-10: var(--scheme-gray-600-10);
  --function-neutral-600-30: var(--scheme-gray-600-30);
  --function-neutral-600-50: var(--scheme-gray-600-50);
}

[data-brand='cyan'] {
  --function-brand-100: var(--scheme-cyan-100);
  --function-brand-200: var(--scheme-cyan-200);
  --function-brand-300: var(--scheme-cyan-300);
  --function-brand-400: var(--scheme-cyan-400);
  --function-brand-500: var(--scheme-cyan-500);
  --function-brand-600: var(--scheme-cyan-600);
  --function-brand-700: var(--scheme-cyan-700);
  --function-brand-800: var(--scheme-cyan-800);
  --function-brand-900: var(--scheme-cyan-900);
  --function-brand-1000: var(--scheme-cyan-1000);
  --function-brand-1100: var(--scheme-cyan-1100);
  --function-brand-1200: var(--scheme-cyan-1200);

  --function-brand-600-10: var(--scheme-cyan-600-10);
  --function-brand-600-30: var(--scheme-cyan-600-30);
  --function-brand-600-50: var(--scheme-cyan-600-50);
}
